.header {
  display: flex;
  justify-content: space-around;
}

.headerButton {
  border-radius: 20px;
  background-color: rgb(212, 38, 90);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
  border: none;
}

.headerP:hover {
  text-decoration: underline;
}